# Core dependencies
pillow
pyautogui
numpy
easyocr
transformers
torch
accelerate
einops
transformers_stream_generator

# Vision and Language Models
groq
python-dotenv  # 用于管理环境变量

# Speech Recognition
SpeechRecognition
pyaudio
wave

# Development dependencies
pytest 